@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

.well, .well-lg {
  background-color: #444 !important;
  border: 1px solid #222 !important;
  padding: 10px;
  border-radius: 10px;
}

.well-lg {
  padding: 20px;
}

.table td {
  padding-left: 0;
  padding-right: 0;
}

h3 {
  font-size: 26px;
}

body {
  padding: 20px;
}

table {
  background-color: transparent !important;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: transparent;
}

div.item {
  text-align: center;
  width: 250px;
  float: left;
  margin-right: 5px;
  min-height: 160px;
}

div.item button.btn-lg {
  font-weight: bold;
  width: 48%;
  height: 75px;
  font-size: 24px;
}

div.sales button.btn-success {
  width: 100%;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
}

.beverage td {
  font-size: 24px;
  line-height: 30px;
  vertical-align: middle;
}

h2 {
  font-size: 22px;
  margin: 0;
}

tr.items td {
  border-top: 1px solid #888 !important;
}

#draggable div.item {
  float: none;
  width: 100%;
  min-height: 0;
}

#draggable .buttons {
  display: none;
}

button.delete-config-item {
  position: absolute;
  top: 5px;
  right: 5px;
}

#draggable button.delete-config-item {
  display: none;
}

.separator {
  background: none;
}
